* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
    --lightgrey: rgb(224, 224, 224);
    --mediumgrey: rgb(189, 189, 189);
}
p, span{
    font-size: 16px;
}
input[type=text]{
    font-size: 16px;
}
a{
    text-decoration: none;
}
.aprt-tb {
  border-collapse: collapse;
  width: 94%;
}
.aprt-tags td {
  padding: 16px;
}
/* .aprt-tags input{
    padding: 16px;
} */
.aprt-tags > td:first-child {
  background-color: var(--lightgrey);
  max-width: 300px;
  /* width: 20%; */
  text-align: center;
}
.aprt-tags input[type=text] {
  width: 100%;
  height: 100%;
  border: 0px;
}
.aprt-tags input:focus-visible {
  border: none;
  outline: none;
}
.ip-sp{
    width: 90px !important;
}
.sp-char{
    position: relative;
}
.sp-char::after{
    content: attr(key-sp);
    position: absolute;
    top: 0;
    left: 100%;
    color: black;
    font-size: .7rem;
}
.inf-useful{
    width: 100%;
    padding: 5px;
    font-size: 15px;
}
.addr-btn-search{
    width: 150px;
    height: 92%;
    background-color: var(--lightgrey);
    outline: none;
    border: 0px;
    border-radius: 4px;
    transition: 0.2s ease;
    cursor: pointer;
}
.addr-btn-search:hover{
    background-color:  var(--mediumgrey);
}
.ip-aprt{
    margin: 5px 0;
}
.xm-aprt-ly{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bt-sm-aprt{
    display: flex;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    background-color: var(--lightgrey);
    outline: none;
    border: none;
    align-items: center;
    justify-content: center;
    color: black;
}